<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8d6WnrAqElrG1XsbVv9r8b0H5baGYO2g</string>
	<key>GCM_SENDER_ID</key>
	<string>484281140827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insafSomiti</string>
	<key>PROJECT_ID</key>
	<string>insaf-somiti</string>
	<key>STORAGE_BUCKET</key>
	<string>insaf-somiti.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484281140827:ios:39e2cc5679860193aea17e</string>
</dict>
</plist>